/* -∴-∵-∴-∵-∴-∵-∴-∵-∴-∵-∴-∵-∴- */
/*                 HUMBERGER                */
/* -∵-∴-∵-∴-∵-∴-∵-∴-∵-∴-∵-∴-∵- */


@media screen and (max-width:979px) {
  .header-menu-humberger,
  .header-menu-humberger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  .header-menu-humberger {
    position: absolute;
    width: 36px;
    height: 30px;
    right:calc(0.75rem + 4px);
    top:calc(0.75rem + 5px);
  }
  .header-menu-humberger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #379F98;
    border-radius: 4px;
  }
  .header-menu-humberger span:nth-of-type(1) {
    top: 0;
  }
  .header-menu-humberger span:nth-of-type(2) {
    top: 12.5px;
  }
  .header-menu-humberger span:nth-of-type(3) {
    bottom: 0;
  }

  .header-menu-humberger {
    -webkit-animation: menu-close .6s;
    animation: menu-close .6s;
  }
  .header-menu-humberger.active {
    -webkit-animation: menu-open .6s;
    animation: menu-open .6s;
  }
  @-webkit-keyframes menu-close {
    30% {
      -webkit-transform: scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes menu-close {
    30% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @-webkit-keyframes menu-open {
    30% {
      -webkit-transform: scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes menu-open {
    30% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  .header-menu-humberger.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
    top:-7px;
  }
  .header-menu-humberger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .header-menu-humberger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
    bottom:-7px;
  }
}
